mixin icon(value)
  - var style = attributes.style ? attributes.style : ''
  div(class="icon-"+value, style!=style)
    //- img(src="http://placehold.it/16x15")

mixin socialIcon(value)
  //- span(class="icon icon-"+value)
  img(class="i-dark-"+value+" noHover", src="./images/icons/"+value+"_black_2x.png", style="height:20px")
  img(class="i-gray-"+value+" hover", src="./images/icons/"+value+"_gray_2x.png", style="height:20px")

mixin icon-svg(className)
  svg(class="icon-svg "+className)
    use(xlink:href="#"+className)

mixin flag(value)
  - var classes = attributes.class ? attributes.class : ''
  //- div(class="icon-flag-"+value)
  img(class!=classes, src="./images/flags/flag-"+value+".png", alt!=value, width="22px", height="14px")

mixin breadcrumb(links)
  <!-- breadcrumb -->
  nav.breadcrumb
    ul.list
      - each value, index in links
        if index == 0
          li.element
            a(href="#")=value
        else
          li.element.divider
            a(href="#")=value
  <!-- END breadcrumb -->

mixin input(type,name,text, id,checked)
  label.cfe(for=id? id : name) 
    if (checked)
      input.cfe-styled(type=type, name=name, id=id? id : name, value= type == 'radio'? id : '', checked)
    else  
      input.cfe-styled(type=type, name=name, id=id? id : name, value= type == 'radio'? id : '')
    !=text

mixin wildcard(color)
  span(style='color:'+color) *


mixin Menu(type, current)
  if type == 'mobile'
    +menu-mobile(current)
  else
    +menu-desktop(current)
  
mixin menu-mobile(current)
  <!-- mobile menu -->
  #mobile-menu.mobile-left-menu.expand-menu
    .menuwrap
      //- LANGUAGES
      .list.sign-in
        .title
          a(href="#") SIGN IN
          span.divider |
          a(href="#") REGISTER

      //- LOCATIONS
      .list.select-location-mobile
        .title
          +flag('hongkong') //- (class='icon-prependInline')
          a.selected-location(href="./landing.html") 
            | You are visiting our
            br
            strong DEMO Store >

      //- WINE & SPIRITS
      .list.expandable
        .title 
          +icon-svg('icon-glass')
          | WINE & SPIRITS
        .content
          .submenu
            a.title(href="#") Featured Brands

          //- WINE
          .list.submenu.expandable
            .title 
              a(href="/subcategory.html", onclick="window.open('/subcategory.html','_blank')") WINE
            .content
              .submenu
                a.title(href="#") Red
                a.title(href="#") White
                a.title(href="#") Dessert
                a.title(href="#") Champagne / Sparkling
                a.title(href="#") Rose
                a.title(href="#") Other Wines
           //- BEER
          .list.submenu
            .title BEER
          //- SPIRITS
          .list.submenu.expandable
            .title SPIRITS
            .content
              .submenu
                a.title(href="#") Cognac
                a.title(href="#") Whiskey
                a.title(href="#") Vodka
                a.title(href="#") Baijiu
                a.title(href="#") Rum
                a.title(href="#") Gin
                a.title(href="#") Beer
                a.title(href="#") Tequila
                a.title(href="#") Other Spirits

      //- OUR STORES
      .list
        .title
          +icon-svg('icon-location2')
          | OUR STORES

      //- OUR BRANDS
      .list
        .title
          //- .icon-featuredc
          +icon-svg('icon-book')
          | OUR BRANDS
      
      //- WOMEN
      .list
        .title
          +icon-svg('icon-woman')
          | WOMEN
      
      //- MEN
      .list
        .title 
          +icon-svg('icon-man')
          | MEN

      //- TRAVEL GUIDES
      .list
        .title 
          +icon-svg('icon-aid-kit')
          | TRAVEL GUIDES

      //- T JOURNAL
      .list
        .title 
          +icon-svg('icon-binoculars')
          strong T
          |  JOURNAL

      //- LANGUAGES
      .list.secondary-menu
        .title.selected-language
          +icon-svg('icon-sphere')
          a(href="#") ENGLISH
          .content.language-list
            a.title(href="#") 简体中文

  <!-- END mobile menu -->


mixin menu-desktop(current)
  <!-- desktop menu -->
  #desktop-menu.desktop.kiwi-hidden-m.kiwi-hidden-s
    .menuwrap
      .fashion.menu-tabs
        .navs.tabs.list
          //- preorder tabs
          .li.tab.preorder-tabs
            .li.tab.label(data-tip, data-tip-position="top")
              +icon('shoppingbag-white icon-prependInline')
              | Shop:
              .tooltip You can now shop items from our wines and spirits online and pick them upon your arrival to Singapore Airport
            .li.tab.nav(class= current == 'wine-and-spirits' ? " current" : "")
              a.title.uppercase(href="#") WINE & SPIRITS
          
          //- normal tabs
          .li.tab.nav(class= current == 'featured-brands' ? " current" : "")
            a.title.uppercase(href="#") OUR BRANDS

          .li.tab.nav(class= current == 'women' ? " current" : "")
            a.title.uppercase(href="#") WOMEN

          .li.tab.nav(class= current == 'men' ? " current" : "")
            a.title.uppercase(href="#") MEN

          .li.tab.nav(class= current == 'beauty' ? " current" : "")
            a.title.uppercase(href="#") BEAUTY

          .li.tab.nav(class= current == 'travel' ? " current" : "")
            a.title.uppercase(href="#") TRAVEL GUIDES

          .li.tab.nav.t-journal(class= current == 't-journal' ? " current" : "")
            a.title.uppercase(href="#")
              strong T
              | &nbsp;JOURNAL

          .li.tab.nav(class= current == 'our-stores' ? " current" : "")
            a.title.uppercase(href="#") OUR STORES

  <!-- END desktop menu -->

mixin preorder-message()
  .preorder-message
    .img
      img(src="./static/img/icon/shopping-bag-banner.png", style="width:50px;height:70px;float:left")
    //- .title
      //- strong Wines & Spirits are now available for Shop & Collect 
      //- span(style="color: #BF2E1A;") >
    .text(style="padding-left: 60px;padding-top:19px;")
      | You can now shop items online from our wines and spirits and collect them upon your return to DEMO store
      .icon-tooltip.icon-appendInline(data-tip="tooltip", data-tip-position='right')
        .tooltip
          p Message tooltip

mixin preorder-productmessage()
  .preorder-product-message
    .text This item is available for Shop & Collect upon your return to DEMO store
      .icon-tooltip.icon-appendInline(data-tip="", data-tip-position='right')
        .tooltip
          p Message tooltip
