mixin icon(value)
  - var style = attributes.style ? attributes.style : ''
  div(class="icon-"+value, style!=style)
    //- img(src="http://placehold.it/16x15")

mixin socialIcon(value)
  //- span(class="icon icon-"+value)
  img(class="i-dark-"+value+" noHover", src="./images/icons/"+value+"_black_2x.png", style="height:20px")
  img(class="i-gray-"+value+" hover", src="./images/icons/"+value+"_gray_2x.png", style="height:20px")

mixin flag(value)
  - var classes = attributes.class ? attributes.class : ''
  //- div(class="icon-flag-"+value)
  img(class!=classes, src="./images/flags/flag-"+value+".png", alt!=value, width="22px", height="14px")

mixin breadcrumb(links)
  <!-- breadcrumb -->
  nav.breadcrumb
    ul.list
      - each value, index in links
        if index == 0
          li.element
            a(href="#")=value
        else
          li.element.divider
            a(href="#")=value
  <!-- END breadcrumb -->

mixin input(type,name,text, id,checked)
  label.cfe(for=id? id : name) 
    if (checked)
      input.cfe-styled(type=type, name=name, id=id? id : name, value= type == 'radio'? id : '', checked)
    else  
      input.cfe-styled(type=type, name=name, id=id? id : name, value= type == 'radio'? id : '')
    !=text

mixin wildcard(color)
  span(style='color:'+color) *


mixin Menu(type, current)
  if type == 'mobile'
    +menu-mobile(current)
  else
    +menu-desktop(current)
  
mixin menu-mobile(current)
  <!-- mobile menu -->
  #mobile-menu.mobile-left-menu.expand-menu
    .menuwrap
      //- LANGUAGES
      .list.sign-in
        .title
          a(href="#") SIGN IN
          span.divider |
          a(href="#") REGISTER

      //- LOCATIONS
      .list.select-location-mobile
        .title
          +flag('hongkong') //- (class='icon-prependInline')
          a.selected-location(href="./landing.html") 
            | You are visiting our
            br
            strong DEMO Store >

      //- OUR STORES
      .list.expandable
        .title
          +icon('ourstores icon-prependInline')
          //- .icon-women.icon-prependInline
          | OUR STORES
        .content
          .submenu
            a.title(href="#") Events and Promotions
            a.title(href="#") Stores Around the World
            a.title(href="#") Our Global Store Services
            a.title(href="#") Contact US

      //- OUR BRANDS
      .list.expandable
        .title
          //- .icon-featuredc
          +icon('featured icon-prependInline')
          | OUR BRANDS
        .content
          .submenu
            a.title(href="#") FEATURED BRANDS HOME
            a.title(href="#") Burberry
            a.title(href="#") Prada
            a.title(href="#") Louis Vuitton
            a.title(href="#") Chanel
            a.title(href="#") View More...
      
      //- WOMEN
      .list.expandable
        .title
          +icon('women icon-prependInline')
          //- .icon-women.icon-prependInline
          | WOMEN
        .content
          .submenu
            a.title(href="#") Women Home
            a.title(href="#") Featured Brands

          //- FASHION
          .list.submenu.expandable
            .title FASHION
            .content
              .list.submenu.expandable
                .title Bags
                .content
                  .submenu
                    a.title(href="#") Shoulder Bags
                    a.title(href="#") Totes
                    a.title(href="#") Clutches
                    a.title(href="#") Other
              .list.submenu.expandable
                .title Wallets
                .content
                  .submenu
                    a.title(href="#") Wallets
                    a.title(href="#") Wristlets
              .list.submenu.expandable
                .title Accessories
                .content
                  .submenu
                    a.title(href="#") Sunglasses
                    a.title(href="#") Belts
                    a.title(href="#") Scarves
                    a.title(href="#") Key Rings
                    a.title(href="#") Wrinting Instruments
              .list.submenu.expandable
                .title Luggage
                .content
                  .submenu
                    a.title(href="#") Suitcases
              .list.submenu
                .title Sale
          
          //- WATCHES & JEWELRY
          .list.submenu.expandable
            .title WATCHES & JEWELRY
            .content
              .list.submenu.expandable
                .title Watches
                .content
                  .submenu
                    a.title(href="#") Automatic
                    a.title(href="#") Quartz
                    a.title(href="#") Other
              .list.submenu.expandable
                .title Jewelry
                .content
                  .submenu
                    a.title(href="#") Rings
                    a.title(href="#") Earrings
                    a.title(href="#") Necklaces
                    a.title(href="#") Bracelets
                    a.title(href="#") Other
      
      //- MEN
      .list.expandable
        .title 
          +icon('men icon-prependInline')
          //- .icon-men.icon-prependInline
          | MEN
        .content
          .submenu
            a.title(href="#") men Home
            a.title(href="#") Featured Brands

          //- FASHION
          .list.submenu.expandable
            .title FASHION
            .content
              .list.submenu.expandable
                .title Bags & Briefcases
                .content
                  .submenu
                    a.title(href="#") Messenger Bags
                    a.title(href="#") Totes
                    a.title(href="#") Brief Cases
                    a.title(href="#") Other
              .list.submenu
                .title Belts
              .list.submenu
                .title Wallets
              .list.submenu.expandable
                .title Accessories
                .content
                  .submenu
                    a.title(href="#") Sunglasses
                    a.title(href="#") Ties
                    a.title(href="#") Cufflinks
                    a.title(href="#") Key Rings
                    a.title(href="#") Wrinting Instruments
                    a.title(href="#") Other
              .list.submenu.expandable
                .title Luggage
                .content
                  .submenu
                    a.title(href="#") Suitcases
              .list.submenu
                .title Sale
          
          //- WATCHES & JEWELRY
          .list.submenu.expandable
            .title WATCHES & JEWELRY
            .content
              .list.submenu.expandable
                .title Watches
                .content
                  .submenu
                    a.title(href="#") Automatic
                    a.title(href="#") Quartz
                    a.title(href="#") Other

      //- BEAUTY
      .list.expandable
        .title 
          +icon('beauty icon-prependInline')
          //- .icon-beauty.icon-prependInline
          | BEAUTY
        .content
          .submenu
            a.title(href="#") Featured Brands

          //- FOR HER
          .list.submenu.expandable
            .title FOR HER
            .content
              .list.submenu.expandable
                .title Skincare
                .content
                  .submenu
                    a.title(href="#") Moisturizer
                    a.title(href="#") Cleanser
                    a.title(href="#") Toner
                    a.title(href="#") Eye Care
                    a.title(href="#") Lip Care
                    a.title(href="#") Whitening
                    a.title(href="#") Anti-aging
                    a.title(href="#") Sun Protection
                    a.title(href="#") Body Products
                    a.title(href="#") Hair Products
                    a.title(href="#") Other
              .list.submenu.expandable
                .title Makeup
                .content
                  .submenu
                    a.title(href="#") Foundation
                    a.title(href="#") Blusher
                    a.title(href="#") Powder
                    a.title(href="#") Eye Colour
                    a.title(href="#") Mascara
                    a.title(href="#") Lipstick
                    a.title(href="#") Nails
                    a.title(href="#") Other
              .list.submenu
                .title Fragrance
          
          //- FOR HIM
          .list.submenu.expandable
            .title FOR HIM
            .content
              .list.submenu.expandable
                .title Skincare
                .content
                  .submenu
                    a.title(href="#") Moisturizer
                    a.title(href="#") Cleanser
                    a.title(href="#") Eye Treatment
                    a.title(href="#") Other
              .list.submenu
                .title Fragrance

      //- WINE & SPIRITS
      .list.expandable
        .title 
          +icon('wine icon-prependInline')
          //- .icon-wine.icon-prependInline
          | WINE & SPIRITS
        .content
          .submenu
            a.title(href="#") Featured Brands

          //- WINE
          .list.submenu.expandable
            .title 
              a(href="/subcategory.html", onclick="window.open('/subcategory.html','_blank')") WINE
            .content
              .submenu
                a.title(href="#") Red
                a.title(href="#") White
                a.title(href="#") Dessert
                a.title(href="#") Champagne / Sparkling
                a.title(href="#") Rose
                a.title(href="#") Other Wines
           //- BEER
          .list.submenu
            .title BEER
          //- SPIRITS
          .list.submenu.expandable
            .title SPIRITS
            .content
              .submenu
                a.title(href="#") Cognac
                a.title(href="#") Whiskey
                a.title(href="#") Vodka
                a.title(href="#") Baijiu
                a.title(href="#") Rum
                a.title(href="#") Gin
                a.title(href="#") Beer
                a.title(href="#") Tequila
                a.title(href="#") Other Spirits

      //- TRAVEL GUIDES
      .list.expandable
        .title 
          +icon('travelguides icon-prependInline')
          //- .icon-travelguides.icon-prependInline
          | TRAVEL GUIDES
        .content
          .submenu
            a.title(href="#") GUAM
            a.title(href="#") HONG KONG
            a.title(href="#") MACAU
            a.title(href="#") NEW YORK
            a.title(href="#") OKINAWA
            a.title(href="#") SINGAPORE
            a.title(href="#") HAWAI

      //- T JOURNAL
      .list
        .title 
          +icon('tjournal icon-prependInline')
          //- .icon-tjournal.icon-prependInline
          strong T
          |  JOURNAL

      //- LANGUAGES
      .list.secondary-menu
        .title.selected-language
          +icon('languages icon-prependInline')
          //- .icon-languages.icon-prependInline
          a(href="#") ENGLISH
          //- span.divider |
          //- a(href="#") 中文
          //- span.divider |
          //- a(href="#") 日本語
          .content.language-list
            a.title(href="#") 简体中文
            a.title(href="#") 日本語

  <!-- END mobile menu -->


mixin menu-desktop(current)
  <!-- desktop menu -->
  #desktop-menu.desktop.kiwi-hidden-m.kiwi-hidden-s
    .menuwrap
      .fashion.menu-tabs
        .navs.tabs.list
          //- preorder tabs
          .li.tab.preorder-tabs
            .li.tab.label(data-tip, data-tip-position="top")
              +icon('shoppingbag-white icon-prependInline')
              | Shop:
              .tooltip You can now shop items from our wines and spirits online and pick them upon your arrival to Singapore Airport
            .li.tab.nav(class= current == 'wine-and-spirits' ? " current" : "")
              a.title.uppercase(href="#") WINE & SPIRITS
          
          //- normal tabs
          .li.tab.nav(class= current == 'featured-brands' ? " current" : "")
            a.title.uppercase(href="#") OUR BRANDS

          .li.tab.nav(class= current == 'women' ? " current" : "")
            a.title.uppercase(href="#") WOMEN

          .li.tab.nav(class= current == 'men' ? " current" : "")
            a.title.uppercase(href="#") MEN

          .li.tab.nav(class= current == 'beauty' ? " current" : "")
            a.title.uppercase(href="#") BEAUTY

          .li.tab.nav(class= current == 'travel' ? " current" : "")
            a.title.uppercase(href="#") TRAVEL GUIDES

          .li.tab.nav.t-journal(class= current == 't-journal' ? " current" : "")
            a.title.uppercase(href="#")
              strong T
              | &nbsp;JOURNAL

          .li.tab.nav(class= current == 'our-stores' ? " current" : "")
            a.title.uppercase(href="#") OUR STORES

  <!-- END desktop menu -->

mixin preorder-message()
  .preorder-message
    .img
      img(src="./static/img/icon/shopping-bag-banner.png", style="width:50px;height:70px;float:left")
    //- .title
      //- strong Wines & Spirits are now available for Shop & Collect 
      //- span(style="color: #BF2E1A;") >
    .text(style="padding-left: 60px;padding-top:19px;")
      | You can now shop items online from our wines and spirits and collect them upon your return to DEMO store
      .icon-tooltip.icon-appendInline(data-tip="tooltip", data-tip-position='right')
        .tooltip
          p Message tooltip

mixin preorder-productmessage()
  .preorder-product-message
    .text This item is available for Shop & Collect upon your return to DEMO store
      .icon-tooltip.icon-appendInline(data-tip="", data-tip-position='right')
        .tooltip
          p Message tooltip
